langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain-huggingface
langchain_openai
faiss-cpu
tavily-python
bs4
requests
beautifulsoup4
pydantic
langchain-text-splitters
python-dotenv
PyYAML
fastapi
uvicorn
motor
pymongo
streamlit
requests
langchain-qdrant
qdrant-client
python-multipart
sentence-transformers